
  
  a{
    color: var(--white);
  }
  
  p{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--white);
  }
  
  h1{
    color: var(--green);
    margin-bottom: 20px;
  }
  
  .section-titles{
    margin: 30px 0;
    font-size: 2rem;
  }
  
  .green{
    color: var(--green);
  }

@media (max-width: 768px) {


    .section-titles {
        margin: 30px 0;
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {

}
