.header-container {
    align-items: center;
    position: fixed;
    transition: .4s ease;
    z-index: 9;
    height: 80px;
    width: 100%;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-100px);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .4s ease;
    width: fit-content;
    align-items: center;
    gap: 15rem;
    border-radius: 0.5rem;
}

.nav-link a {
    color: var(--dark-green);
    text-decoration: none;
}

.logo-container {
    transition: .4s ease-in-out;
}

.logo-label {
    color: var(--green);
    font-size: 2rem;
}

.nav-link {
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.nav-element {
    top: -120px;
    transition: 0.6s ease;
}

@keyframes loadHeader {
    from {
        top: -120px
    }

    to {
        top: 0px;
    }
}

.nav-link::after {
    content: "";
    display: block;
    background-color: #006f4730;
    height: 8px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all .2s ease;
    z-index: -1;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-btn {
    position: relative;
}

.header-subtitle {
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

ol.navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin: 0;
    font-size: 1.25rem;
    width: 100%;
}

.nav-link {
    cursor: pointer;
}

.logo-label {
    cursor: pointer;
    font-weight: 600;
}

.hamburger-lines {
    transform: translateY(-100px);
    transition: .6s ease-in-out;
    transition-delay: 200ms;
    height: 20px;
    width: 25px;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: var(--green);
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: 0.4s ease-in-out;
}

.navbar-container {
    position: fixed;
    transition-delay: 0ms;
    transform: translateX(50%);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    right: -24px;
    left: unset;
    padding: 4rem 3rem 2.5rem;
    min-width: 15rem;
    background: var(--white);
    color: var(--dark-green);
    overflow: hidden;
    transition: .3s ease-in-out;
    top: -24px;
    opacity: 0;
}

#check-menu:checked+.navbar-container {
    transform: translateX(0%);
}

#check-menu:checked~.line1 {
    transform: rotate(45deg);
}

#check-menu:checked~.line2 {
    transform: translateX(-100%) scaleY(0);
}

#check-menu:checked~.line3 {
    transform: rotate(-45deg);
}

#check-menu {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}


.navbar-container.visible {
    transition-delay: 0ms;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    margin: 0;
    right: -24px;
    left: unset;
    min-width: 15rem;
    opacity: 1;
}

#check-menu:checked~.line {
    background: var(--dark-green);
}


@media (max-width: 768px) {

    .header-container {
        padding: 0 1.25rem;
        background: #0a294061;
        backdrop-filter: blur(10px);
        top: 0;
    }

    .logo-label {
        font-size: 1.3rem;
    }

    .nav-link a {
        font-size: 1rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }

    .navbar-container {
        padding: 4rem 2rem 2.5rem;
    }


}