footer{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

footer a:hover {
    color: var(--green);
}

span {
    color: var(--text-color);
    font-size: 0.75rem;
}

@media (max-width: 768px){
    footer a {
        font-size: 0.7rem;
    }
}