.socials-icons-container {
    width: fit-content;
}

ul.socials-list {
    display: grid;
    gap: 40px;
    position: fixed;
    bottom: 0;
    left: 130px;
    list-style: none;
    font-size: 1.2rem;
}

ul.socials-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background: var(--text-color);
}

li.social-icon {
    cursor: pointer;
    transition: .2s ease-in-out;
}

.social-icon:hover{
    color: var(--secondary-color);
    transform: translateY(-4px);
}

.my-email {
    display: grid;
    gap: 140px;
    position: fixed;
    bottom: 0;
    right: 40px;
    list-style: none;
}

.my-email p {
    transform: rotate(90deg);
    font-size: 0.9rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.my-email p:hover {
    transform: rotate(90deg) translateX(-10px);
    color: var(--hover-color);
}

.my-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background: var(--text-color);
}