.socials-icons-container {
    width: fit-content;
    opacity: 0;
    transition: 0.6s ease-in;
    transition-delay: 1.5s;
}

ul.socials-list {
    display: grid;
    gap: 40px;
    position: fixed;
    bottom: 0;
    left: 90px;
    list-style: none;
    font-size: 1.2rem;
    width: 20px;
}

ul.socials-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background: var(--white);
}

li.social-icon {
    color: var(--white);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.social-icon:hover{
    transform: translateY(-4px);
}

.social-icon:hover a{
    color: var(--green);
}

.my-email {
    display: grid;
    gap: 100px;
    position: fixed;
    bottom: 0;
    right: 90px;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.my-email p {
    transform: rotate(90deg);
    font-size: 0.8rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.my-email p:hover {
    transform: rotate(90deg) translateX(-10px);
}

.my-email p:hover a{
    color: var(--green);
}

.my-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background: var(--white);
}

@media (max-width: 768px) {
    .socials-icons-container{
        display: none;
    }
}

@media (max-width: 1300px) {
    .my-email {
        gap: 110px;
    }

    .my-email p {
        font-size: 0.7rem;
    }

    .my-email::after {
        height: 60px;
    }

    ul.socials-list {
        font-size: 0.9rem;
    }

    ul.socials-list::after {
        height: 60px;
    }
}